<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-headline-medium">Detalhes do usuário </span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-title-large">Nome: </span>
      <span class="mat-body-large">{{ user.nome | dashIfEmpty }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-title-large">E-mail: </span>
      <span class="mat-body-large">{{ user.email | dashIfEmpty }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-title-large">Telefone: </span>
      <span class="mat-body-large">{{ user.telefone | phone }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-title-large">Endereço: </span>
      <span class="mat-body-large">{{ user.endereco | address }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-title-large">Status: </span>
      <span class="mat-body-large">{{ user.ativo | status}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-title-large">Função: </span>
      <span class="mat-body-large">{{ user.funcao | dashIfEmpty }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-title-large">Data de Cadastro: </span>
      <span class="mat-body-large">{{ user.dataCadastro | date:'dd/MM/yyyy' | dashIfEmpty }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
